################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MerchantDistributorServices_API/v15/Server/sqlite3
